@import 'styles/colors.scss';

#page-content {
    max-width: 844px;
};

.border-none {
    border: none;
};

.pointer {
    cursor: pointer;
};

@font-face {
    font-family: "Cairo";
    src: local("Cairo"), url(../../fonts/Cairo/static/Cairo-Regular.ttf) format("truetype")
}

.app {
    font-family: Cairo;
}

.hover-dark:hover {
    background-color: $dark!important
}
